
.friend{
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  justify-content: center;
  align-items: center;
  & > p {
    color: var(--title);
    font-weight: 800;
    font-size: 2rem;
  }
}
.avatar{
  & > a{
    & > img{

      width: 100%;
    }
  }

}