.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
  align-items: center
}

.tittle {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 2.2rem;
  color: var(--subtext-dark);
  padding: 0 7rem;
}


.search-svg{
  stroke-miterlimit: 10;
  width: 2rem;
}


.svg{
  margin: 0 1rem 0 0;
  display: flex;
  align-items: center;
}
@media all and (max-width: 480px){

  .search-svg{
    width: 2.45rem;
    stroke-width: 0.7;
  }
  .tittle{
    padding: 0 0;
  }
}
