.textarea{
  width: 100% ;
  padding-right: 2rem;
}


.row {
  display: inline-flex;
  width: 100%;
}

.avatar {
  min-height: 5rem;
  min-width: 5rem;
  max-height: 5rem;
  max-width: 5rem;

  img {
    width: 100%;
    max-width: 5rem;
  }
}

textarea {
  margin-left: 2rem;
  resize: none;
  width: 100%;
  background-color: var(--background);
  border-radius: 2rem;
  height: 5rem;
  overflow: hidden;
}

textarea::placeholder {
  font-weight: 600;
  font-size: 1.6rem;
  color: var(--subtext) ;
}

textarea {
  font-weight: 600;
  font-size: 1.6rem;
  color: var(--subtext);
  padding: 1.5rem 3rem;
}

textarea:focus::-webkit-input-placeholder {
  color: transparent
}

.content {
  padding: 2rem 8rem 1rem;
  display: inline-flex;
  justify-content: space-between;
  width: 70rem;
}

.content-button {
  display: inline-flex;
  align-items: center;
  padding: 0 3rem;
  & > svg{
    width: 2.2rem;
  }
}
.content-button:hover{
  & > svg{
    stroke: var(--blue);
  }
  & > div{
    & > p{
      color: var(--blue);
    }
  }
}
.post-content{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.select-image{
  width: 35rem;
  padding: 2rem 2rem 1rem;
}

.title {
  padding: 0 1rem;

  p {
    font-weight: 700;
    color: var(--subtext);
    font-size: 1.5rem;
  }
}

@media all and (max-width: 480px){
  .content{
    padding: 2rem 4rem 1rem;
    width: 100%;
  }
  .content-button{

  }
  .title{
    display: none;
  }
  textarea::placeholder{
    white-space: nowrap;
  }
}