.container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 100%;
  border: 0.3rem solid var(--background);
  border-radius: 2rem;
  overflow: hidden;
}
.left-container {
  width: 50rem;
  padding: 0.5rem 2rem 0.5rem 0;
}
.search {
  display: flex;
  gap: 1.5rem;
  padding: 1rem 4rem 1rem 2rem;
  align-items: center;
  & > div {
    padding-left: 2rem;
    height: 3.5rem;
    display: flex;
    gap: 1rem;
    & > svg {
      width: 1.8rem;
    }
  }
  & > input{
    width: 100%;
  }
  & > input::placeholder {
    font-size: 1.4rem;
  }
}
.avatar {
  width: 4rem;
  height: 4rem;
}
.user-container {
  height: 5rem;
  width: 100%;
  align-items: center;
  display: inline-flex;
  padding: 3rem 1.5rem;
  transition: 0.3s ease-in-out;
  border-radius: 1.2rem;

}
.user-container:hover {
  background-color: var(--hover);
}
.select-user {
  height: 5rem;
  min-width: 36rem;
  align-items: center;
  padding: 3rem 1.5rem;
  background-color: white;
  & > div {
    display: flex;
    width: 100%;
  }
  & > svg {
    transform: rotate(90deg);
  }
}

.text-field-container {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  margin-bottom: 2rem;
  & > svg {
    width: 2.5rem;
  }
  & > div {
    display: flex;
    & > svg {
      width: 2.5rem;
    }
    & > textarea {
      background-color: transparent;
      width: 30rem;
      padding-left: 1rem;
    }
    & > textarea::placeholder {
      padding-left: 1rem;
    }
  }
}
.dialog-container {
  display: flex;
  border-left: 0.3rem solid var(--background);
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  background-color: var(--background);
}
