.container{
  width: 27rem;
  padding: 0 2.5rem;
}
.online{
  color: var(--subtext);
  font-weight: 700;
  font-size: 1.2rem;
  padding: 1rem 0 2rem 0;
}
.list{

}
.comment{
  background-color: unset;
  svg{
  width: 2rem;
  stroke-width: 25;

  }
}
.user{
  margin-bottom: 1.2rem;
}
.avatar{
  width: 4rem;
  height: 4rem;
}
@media all and (max-width: 1024px){
.container{
  display: none;
}

}
.tooltip{
  z-index: 1;
  display: flex;
  align-items: center;
}