.auth-wrapper {
  height: 100vh;
  justify-content: center;
  margin-right: 5rem;
  padding: 3rem;
}
.auth-container {
  display: flex;
  border-radius: 2rem;
  padding: 0;
  height: auto;
  overflow: hidden;
  box-shadow: 0 0.5rem 1rem var(--light-gray);
  p, h1 {
    white-space: nowrap;
  }
}

.left-side,
.right-side {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.left-side {
  background: var(--blue);
}
.right-side {
  background: var(--background-light);
  button {
    font-size: 1.2rem;
    height: 4rem;
    width: 100%;
    border-radius: 3.1rem;
    font-weight: 300;
    background: var(--blue);
    color: var(--white);
    margin: 3rem 0 5rem;
    &:disabled {
      opacity: 0.5;
      pointer-events: none;
    }
  }
}
.auth,
.auth-top {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.auth {
  padding: 3rem 5.5rem;
}
.auth-top {
  margin: 4rem 0;
  padding: 1rem;
  height: 8rem;
  align-items: center;
  justify-content: space-between;
  h1 {
    font-size: 2rem;
    font-weight: 600;
  }
  p {
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--foreground);
  }
}
.form {
  padding: 3rem 0 1rem;
}
.bottom-container, .remember-container {
  justify-content: space-between;
  align-items: center;
  display: flex;
  p {
    font-size: 1.1rem;
    color: var(--light-gray);
  }
  a {
    margin-left: 1rem;
    font-size: 1.1rem;
    color: var(--blue);
    white-space: nowrap;
  }
}
.bottom-container{
  justify-content: center;
}

@media  (max-width: 649px) {
  .auth-wrapper {
    padding: 0;
  }
  .auth-container {
    border-radius: 0;
    height: 100vh;
  }
  .left-side {
    display: none;
  }
}
