.friends {
  width: 100%;
  height: 100%;
  background: var(--background);
  border-radius: 1.8rem;
  padding: 3.5rem;
}

.container {
  overflow-y: scroll;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between; 
  align-items: start;
  flex-wrap: wrap;
  gap: 2rem;
  background: var(--white);
  border-radius: inherit;
  padding: 3.5rem;
  @media (max-width: 480px)  {
    padding: 2rem;
    justify-content: center;
  }
}

.arrow{
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
  width: 5rem;
  height: 5rem;
bottom: 2rem;
  & > button{
    z-index: 1;
    bottom: 2rem;
    background-color: var(--blue)!important;
    & > svg{
      fill: var(--white);
      width: 3rem;
      transform: rotate(180deg);
    }
    @media (max-width: 1024px)  {
      //right: calc(100vw - 60%);
    }
  }
}