.friends {
  width: 100%;
  height: 100%;
  background: var(--background);
  border-radius: 1.8rem;
  padding: 3.5rem;
}

.container {
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: start;
  flex-wrap: wrap;
  background: var(--white);
  border-radius: inherit;
  padding: 3.5rem;
  @media (max-width: 480px)  {
    padding: 2rem;
  }

}

.arrow{
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
  width: calc(5rem + 5 * (100vw / 1920));
  height: calc(5rem + 5 * (100vw / 1920));
bottom: 2rem;
  @media(max-width: 1024px){
    width: calc(8rem + 2 * (100vw / 1920));
    height: calc(8rem + 2 * (100vw / 1920));

  }
  @media(max-width: 600px){
    bottom: 10rem;
  }
  @media(max-width: 480px){
    bottom: 6rem;
    width: calc(6rem + 2 * (100vw / 1920));
    height: calc(6rem + 2 * (100vw / 1920));
  }
  & > button{
    z-index: 1;
    bottom: 2rem;
    background-color: var(--blue)!important;
    & > svg{
      fill: var(--white);
      width: 100%;
      transform: rotate(180deg);
    }

  }
}