.container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
  align-items: center
}

.tittle {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 2.2rem;
  color: var(--subtext-dark);
  padding: 0 7rem;
}

.mobile-search{
  width: calc(100vw - 23rem);
  position: absolute;
  z-index: 2;
}
.search-svg{
  stroke-miterlimit: 10;
  width: 2rem;
}
.search-svg:hover{
  fill: var(--blue);
  stroke: var(--blue);
}

.svg{
  margin: 0 1rem 0 0;
  display: flex;
  align-items: center;
  & > svg{
    stroke-miterlimit: 10;
    width: 2rem;
  }
}

@media all and (max-width: 480px){

  .search-svg{
    width: 2.45rem;
    stroke-width: 0.7;
  }
  .tittle{
    padding: 0 0;
  }
}
