.pagination{
  box-shadow: 0 0  3rem rgba(0, 0, 0, 0.15);
  position: absolute;
  z-index: 1;
  bottom: 5rem;
  right: 0;
  margin: auto;
  width: 40rem;
  left: 0;
  background: var(--opacity_background);
  border-radius: 2.4rem;
  padding: 1.5rem 3rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  backdrop-filter: blur(2px);
  @media (max-width: 600px) {
    bottom: 12rem;
  }
  @media (max-width: 480px) {
    bottom: 8rem;
  }
  .top-panel{
    display: flex;
    gap: 1.5rem;
    & > button,p{
      font-size: 1.6rem;
      color: var(--foreground);
      font-weight: 600;
      background: none;
      padding: 0.5rem;
    }
    & > button:disabled{
      color: var(--light-gray);
    }
    & > p{
      padding-top: 1rem;
    }

    .selected{
      background: var(--blue);
      min-width: 3rem;
      height: 3rem;
      padding: 0 1rem;
      border-radius: 50%;
      color: var(--white);
    }

  }
  .bottom-panel{
    justify-content: space-between;
    width: 100%;
    display: flex;
    gap: 2rem;

    align-items: center;
    & > p{
      font-size: 1.6rem;
      color: var(--subtext);
      font-weight: 600;
    }
    select{
      font-size: 1.3rem;
      color: var(--subtext);
      background-color: transparent;
    }
    option{
      font-size: inherit;
      color: inherit;
      border-radius: 2rem;
      margin: 0.5rem 0;
    }
  }
}
.close{
    background-color: transparent;
  transform: translateX(16rem);
    & > svg{
      width: 3rem;
    }
}